#game {
    width: 600px;
    height: 250px; 
    max-width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #87CEEB 0%, #E0F6FF 100%);
    border: 3px solid #dee2e6;
}

#start-screen {
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 10;
}


#ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%; 
    height: 30px;
    background: repeating-linear-gradient(45deg, #8B4513, #8B4513 10px, #A0522D 10px, #A0522D 20px);
    border-top: 5px solid #228B22; 
    animation: moveGround 1s linear infinite;
    animation-play-state: paused; 
}

#dino {
    width: 50px;
    height: 50px;
    font-size: 45px;
    position: absolute;
    top: 170px; 
    left: 50px;
    line-height: 50px;
    z-index: 5;
}

#cactus {
    width: 50px;
    height: 50px;
    font-size: 45px;
    position: absolute;
    top: 170px;
    left: 600px;
    line-height: 50px;
    z-index: 4;
    display: none; 
}



.running #ground {
    animation-play-state: running;
}

.running #cactus {
    display: block;
    animation: cactusMove 1.5s infinite linear;
}


.running #dino:not(.jump) {
    animation: dinoRun 0.2s infinite alternate;
}

.jump {
    animation: jumpAnim 0.5s ease-out;
}

@keyframes moveGround {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes dinoRun {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(-3px) rotate(5deg); }
}

@keyframes jumpAnim {
    0% { top: 170px; }
    40% { top: 70px; }
    50% { top: 60px; }
    60% { top: 70px; }
    100% { top: 170px; }
}

@keyframes cactusMove {
    0% { left: 600px; }
    100% { left: -50px; }
}